#Tasks for cleaning two historical datasets:
1- Visual_crossing dataset:
 *   Reading dataset from our shared **Github** repository
 *   Extracting **numerical** features:winddir,....
 *   Null management and **imputation** techniches
 *   Saving new dataset

2- Air_quality dataset:
 *   Reading data set air-pollution
 *   Seperating columns. The dataset has only one string column(Items seperated with ;)
 *   Calculating AQI
 *   Adding AQI to the data set
 *   Saving new dataset

In [ ]:
import pandas as pd
import sys

In [ ]:
url = 'https://github.com/reyrobs/Scalable_ML_Project_AQ/raw/main/Datasets/paris-visualcrossing_before_cleaning.csv'
df = pd.read_csv(url)
df.columns

Index(['name', 'datetime', 'tempmax', 'tempmin', 'temp', 'feelslikemax',
       'feelslikemin', 'feelslike', 'dew', 'humidity', 'precip', 'precipprob',
       'precipcover', 'preciptype', 'snow', 'snowdepth', 'windgust',
       'windspeed', 'winddir', 'sealevelpressure', 'cloudcover', 'visibility',
       'solarradiation', 'solarenergy', 'uvindex', 'severerisk', 'sunrise',
       'sunset', 'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')

#Finding non numerical columns to drop

In [ ]:
df['stations'].dtype

dtype('O')

In [ ]:
df

,name,datetime,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,paris,2022-01-01,13.9,7.8,10.5,13.9,6.8,10.0,8.5,88.2,...,2.9,2,NaN,2022-01-01T08:44:12,2022-01-01T17:04:25,0.99,"Rain, Partially cloudy",Partly cloudy throughout the day with a chance...,rain,"07149099999,07156099999,07146099999,E3042,0715..."
1,paris,2022-01-02,14.0,9.5,11.9,14.0,8.4,11.7,8.2,78.5,...,1.5,1,NaN,2022-01-02T08:44:09,2022-01-02T17:05:25,1.00,"Rain, Partially cloudy",Partly cloudy throughout the day with afternoo...,rain,"07149099999,07156099999,07146099999,E3042,0715..."
2,paris,2022-01-03,12.7,10.8,11.5,12.7,10.8,11.5,9.1,85.5,...,1.7,1,NaN,2022-01-03T08:44:02,2022-01-03T17:06:28,0.00,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"07149099999,07156099999,07146099999,E3042,0714..."
3,paris,2022-01-04,11.5,4.6,8.8,11.5,0.1,6.8,7.0,89.0,...,1.1,1,NaN,2022-01-04T08:43:53,2022-01-04T17:07:33,0.02,"Rain, Overcast",Cloudy skies throughout the day with a chance ...,rain,"07149099999,07156099999,07146099999,0714509999..."
4,paris,2022-01-05,6.5,2.0,4.1,3.4,-1.8,1.2,0.1,75.3,...,2.3,2,NaN,2022-01-05T08:43:40,2022-01-05T17:08:40,0.05,"Rain, Partially cloudy",Partly cloudy throughout the day with early mo...,rain,"07149099999,07156099999,07146099999,E3042,0714..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,paris,2022-12-16,1.3,-2.0,-0.4,-1.3,-6.1,-3.7,-2.6,85.3,...,1.0,1,10.0,2022-12-16T08:38:13,2022-12-16T16:54:15,0.76,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"07149099999,LFPV,07156099999,07146099999,07157..."
350,paris,2022-12-17,-0.6,-4.6,-1.8,-1.5,-8.6,-4.7,-3.7,86.9,...,1.1,1,10.0,2022-12-17T08:38:57,2022-12-17T16:54:30,0.81,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"07149099999,07156099999,07146099999,LFPV,07157..."
351,paris,2022-12-18,3.6,-6.0,-2.3,0.7,-10.6,-5.8,-4.0,88.1,...,1.0,1,10.0,2022-12-18T08:39:38,2022-12-18T16:54:49,0.86,"Rain, Partially cloudy",Partly cloudy throughout the day with late aft...,rain,"LFPV,LFPO,C1292,LFPB"
352,paris,2022-12-19,12.3,4.3,8.8,12.3,1.3,7.8,5.3,78.8,...,0.7,1,10.0,2022-12-19T08:40:17,2022-12-19T16:55:11,0.91,"Rain, Overcast",Cloudy skies throughout the day with rain clea...,rain,"LFPV,D3543,LFPO,C1292,LFPB"
353,paris,2022-12-20,12.3,10.2,10.8,12.3,10.2,10.8,8.0,83.0,...,0.4,0,10.0,2022-12-20T08:40:52,2022-12-20T16:55:35,0.95,"Rain, Overcast",Cloudy skies throughout the day with rain.,rain,"LFPV,LFPO,C1292,D3623,LFPB"

In [ ]:
df['moonphase'].isnull().values.any()# remove each row with pclass = null
#df2.dropna(subset=['tempmax'], inplace=True)

False

In [ ]:
visual_crossing_df['datetime'].isnull().values.any()# remove each row with pclass = null

False

###We need only numerical features.

In [ ]:
visual_crossing_df = df.drop(['name', 'preciptype','sunrise','sunset','conditions','description','icon','stations','uvindex','severerisk'], axis=1)

In [ ]:
visual_crossing_df.rename(columns = {'datetime':'date'}, inplace = True)

In [ ]:
visual_crossing_df

,date,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,...,snowdepth,windgust,windspeed,winddir,sealevelpressure,cloudcover,visibility,solarradiation,solarenergy,moonphase
0,2022-01-01,13.9,7.8,10.5,13.9,6.8,10.0,8.5,88.2,0.048,...,0.0,25.3,13.0,178.8,1024.6,77.6,14.5,33.6,2.9,0.99
1,2022-01-02,14.0,9.5,11.9,14.0,8.4,11.7,8.2,78.5,0.144,...,0.0,53.6,24.5,221.0,1018.9,89.8,24.3,18.2,1.5,1.00
2,2022-01-03,12.7,10.8,11.5,12.7,10.8,11.5,9.1,85.5,8.867,...,0.0,52.3,22.8,224.0,1015.4,97.9,17.0,18.9,1.7,0.00
3,2022-01-04,11.5,4.6,8.8,11.5,0.1,6.8,7.0,89.0,21.068,...,0.0,59.4,26.6,280.8,1002.0,98.9,17.8,13.3,1.1,0.02
4,2022-01-05,6.5,2.0,4.1,3.4,-1.8,1.2,0.1,75.3,0.014,...,0.0,48.0,18.5,291.2,1014.3,26.0,23.2,27.2,2.3,0.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2022-12-16,1.3,-2.0,-0.4,-1.3,-6.1,-3.7,-2.6,85.3,0.000,...,0.0,29.3,14.5,19.6,1015.8,46.1,9.8,12.4,1.0,0.76
350,2022-12-17,-0.6,-4.6,-1.8,-1.5,-8.6,-4.7,-3.7,86.9,0.000,...,0.0,23.0,12.4,121.6,1025.1,76.4,7.2,12.0,1.1,0.81
351,2022-12-18,3.6,-6.0,-2.3,0.7,-10.6,-5.8,-4.0,88.1,2.000,...,0.0,26.3,14.8,139.5,1022.0,81.3,7.1,10.8,1.0,0.86
352,2022-12-19,12.3,4.3,8.8,12.3,1.3,7.8,5.3,78.8,2.000,...,0.0,37.4,18.5,180.8,1017.7,98.7,9.9,9.2,0.7,0.91
353,2022-12-20,12.3,10.2,10.8,12.3,10.2,10.8,8.0,83.0,12.200,...,0.0,37.4,36.0,193.6,1012.9,98.6,12.3,5.8,0.4,0.95

###Number of features from visual crossing df:

In [ ]:
visual_crossing_df.shape

(354, 23)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/ScalableML/FinalProject/Shared_final_project_scalableML/visual_crossing_df.csv'
with open(path, 'w') as f:
  visual_crossing_df.to_csv(f, index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Github_path = 'https://github.com/reyrobs/Scalable_ML_Project_AQ/raw/main/Datasets/visual_crossing_df.csv'
#visual_crossing_df.to_csv(Github_path, index=False)

###The Air_quality dataset:

In [ ]:
url = 'https://github.com/reyrobs/Scalable_ML_Project_AQ/raw/main/Datasets/paris-air-quality.csv'
airq_df = pd.read_csv(url)
airq_df

     date;pm25;pm10;o3;no2;so2; co
0         2022/12/1;78;37;4;18; ;
1         2022/12/2;93;24;3;17; ;
2         2022/12/3;68;30;5;17; ;
3         2022/12/4;79;29;1;16; ;
4         2022/12/5;77;34; ;17; ;
...                            ...
3141     2017/10/17; ;52;13;50; ;6
3142       2017/1/15; ;39;2;29; ;2
3143       2016/1/1; ;24;18;34; ;2
3144     2014/12/31; ;71;17;52;1;8
3145     2013/12/31; ;19;22;30; ;2

[3146 rows x 1 columns]

In [ ]:
for col in airq_df.columns:
    print(col)
airq_df.shape
#airq_df['date'].isnull().values.any()# remove each row with pclass = null

date;pm25;pm10;o3;no2;so2; co

(3146, 1)

In [ ]:
final_airq = pd.DataFrame()
final_airq[['date','pm25','pm10','o3','no2','so2', 'co']] = pd.DataFrame([ x.split(';') for x in airq_df['date;pm25;pm10;o3;no2;so2; co'].tolist() ])

In [ ]:
final_airq

            date pm25 pm10  o3 no2 so2 co
0      2022/12/1   78   37   4  18
1      2022/12/2   93   24   3  17
2      2022/12/3   68   30   5  17
3      2022/12/4   79   29   1  16
4      2022/12/5   77   34      17
...          ...  ...  ...  ..  ..  .. ..
3141  2017/10/17        52  13  50      6
3142   2017/1/15        39   2  29      2
3143    2016/1/1        24  18  34      2
3144  2014/12/31        71  17  52   1  8
3145  2013/12/31        19  22  30      2

[3146 rows x 7 columns]

###Imputation with zero for airquality

In [ ]:
final_airq = final_airq.replace({' ': '0'}, regex=True)
final_airq
#final_airq.fillna(0)
#final_airq['co'].isnull().values.any()# remove each row with pclass = null
#final_airq = final_airq['co'].astype(float)

            date pm25 pm10  o3 no2 so2 co
0      2022/12/1   78   37   4  18   0  0
1      2022/12/2   93   24   3  17   0  0
2      2022/12/3   68   30   5  17   0  0
3      2022/12/4   79   29   1  16   0  0
4      2022/12/5   77   34   0  17   0  0
...          ...  ...  ...  ..  ..  .. ..
3141  2017/10/17    0   52  13  50   0  6
3142   2017/1/15    0   39   2  29   0  2
3143    2016/1/1    0   24  18  34   0  2
3144  2014/12/31    0   71  17  52   1  8
3145  2013/12/31    0   19  22  30   0  2

[3146 rows x 7 columns]

In [ ]:
for col in final_airq:
    if col!='date':
       final_airq[col] = final_airq[col].astype(float)
final_airq

            date  pm25  pm10    o3   no2  so2   co
0      2022/12/1  78.0  37.0   4.0  18.0  0.0  0.0
1      2022/12/2  93.0  24.0   3.0  17.0  0.0  0.0
2      2022/12/3  68.0  30.0   5.0  17.0  0.0  0.0
3      2022/12/4  79.0  29.0   1.0  16.0  0.0  0.0
4      2022/12/5  77.0  34.0   0.0  17.0  0.0  0.0
...          ...   ...   ...   ...   ...  ...  ...
3141  2017/10/17   0.0  52.0  13.0  50.0  0.0  6.0
3142   2017/1/15   0.0  39.0   2.0  29.0  0.0  2.0
3143    2016/1/1   0.0  24.0  18.0  34.0  0.0  2.0
3144  2014/12/31   0.0  71.0  17.0  52.0  1.0  8.0
3145  2013/12/31   0.0  19.0  22.0  30.0  0.0  2.0

[3146 rows x 7 columns]

###We need to find the max of all column except datatime:This value would be AQI (label column)

In [ ]:
def calc_max(x):
  return x.max()
final_airq['AQI'] = final_airq[['pm25',	'pm10',	'o3',	'no2',	'so2',	'co']].apply(calc_max, axis =1)
final_airq

            date  pm25  pm10    o3   no2  so2   co   AQI
0      2022/12/1  78.0  37.0   4.0  18.0  0.0  0.0  78.0
1      2022/12/2  93.0  24.0   3.0  17.0  0.0  0.0  93.0
2      2022/12/3  68.0  30.0   5.0  17.0  0.0  0.0  68.0
3      2022/12/4  79.0  29.0   1.0  16.0  0.0  0.0  79.0
4      2022/12/5  77.0  34.0   0.0  17.0  0.0  0.0  77.0
...          ...   ...   ...   ...   ...  ...  ...   ...
3141  2017/10/17   0.0  52.0  13.0  50.0  0.0  6.0  52.0
3142   2017/1/15   0.0  39.0   2.0  29.0  0.0  2.0  39.0
3143    2016/1/1   0.0  24.0  18.0  34.0  0.0  2.0  34.0
3144  2014/12/31   0.0  71.0  17.0  52.0  1.0  8.0  71.0
3145  2013/12/31   0.0  19.0  22.0  30.0  0.0  2.0  30.0

[3146 rows x 8 columns]

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/ScalableML/FinalProject/Shared_final_project_scalableML/air_quality_df.csv'
with open(path, 'w') as f:
  final_airq.to_csv(f, index=False)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).